@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #121212;
    border-radius: 15px;
}

.btn-primary {
    @apply rounded-2xl text-sm relative -translate-x-[2px] -translate-y-[2px] block w-max;
}

.btn-primary-rect {
    @apply w-full h-full bg-foreground absolute top-1 left-1 -z-10 rounded-2xl;
}

.tagline-chip {
    @apply bg-backgroundLight text-foregroundPrimary py-2 px-3 rounded-lg;
}

.hero-title-large {
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
