@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden
}

.navbar {
    @apply static-shadow-border;
}

.static-shadow-border {
    @apply border border-foreground shadow-[4px_4px_0px] shadow-foreground rounded-2xl;

}

.btn-primary {
    @apply rounded-2xl text-sm relative -translate-x-[2px] -translate-y-[2px] block w-max;
}

.btn-primary-rect {
    @apply w-full h-full bg-foreground absolute top-1 left-1 -z-10 rounded-2xl;
}

.tagline-chip {
    @apply bg-backgroundLight text-foregroundPrimary py-2 px-3 rounded-lg;
}

.tagline-chip-none {
    @apply bg-none py-0 px-0;
}

.hero-title-large {
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
